<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="Quote; else loading">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{Quote.quote}}
        </ion-card-title>
        <ion-card-content>
          Author: {{Quote.author}}
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ng-container>

  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
  </ng-template>
</ion-content>